/*Css Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Header styling*/
#top{
    color: rgb(245, 10, 10);
    text-align: center;
    font-size: 46px;
    font-family: 'Ubuntu Mono', monospace;
}
#top1{
    color: black;
    text-align: center;
    font-size: 21px;
    font-family: 'Ubuntu Mono', monospace;
}
/*Navbar img styling*/
#navbar img{
    display: block;
    width: 50px;1
    height: 50px;
    margin: auto;
    margin-bottom: 3px;
}
/*Navbar Functionality*/
#navbar{
    display: flex;
    flex-direction: column;
    background-color: gray;
    height: 14vh;
    width: 100vw;
    font-family: 'Ubuntu Mono', monospace;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
/*Navbar Functionality*/
#navcontent{
    display: flex;
    justify-content: center;
}
/*Navbar content styling*/
ul li{
    list-style: none;
    margin: 15px;
    border-radius: 20px;
}
ul li a{
    padding: 1px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}
ul li a:hover{
   background-color: red;
    border-radius: 10px;
}
/*website background image designing*/
#container1{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 63vh;
}
/*Setting the background image using before pseudo selector*/
#container1::before{
    content: '';
    background: url('eat2.jpeg') no-repeat center center/cover;
    width: 100vw;
    height: 59vh;
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: 'Ubuntu Mono', monospace;
    margin-right: 45px;
    font-weight: bold;
    z-index: -1;
    opacity: 0.89;
    border: 2px solid black;
    border-bottom-left-radius: 100px;
}
#row1{
    color: white;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-top: 35px;
}
/*Button Styling*/
.btn{
    margin-top: 15px;
    border: 3px solid white;
    background-color: yellow;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Ubuntu Mono', monospace;
}
.btn:hover{
    cursor: pointer;
    background-color: red;
}
#container3{
    display: flex;
    justify-content: space-evenly;
}
#row2{
    width: 24vw;
    height: 21vh;
    box-shadow: 2px 7px 16px 19px;
    margin-top: 51px;
    margin-bottom: 51px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    margin-right: 38px;
    border-radius: 40px
}
#row3{
    width: 24vw;
    height: 21vh;
    box-shadow: 2px 7px 16px 19px;
    margin-top: 51px;
    margin-bottom: 51px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    margin-left: -38px;
    border-radius: 40px;
}
#row2::before{
    content: '';
    background: url('eat1.jpeg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 24vw;
    height: 21vh;
    z-index: -1;
    border-radius: 40px;
}
#row3::before{
    content: '';
    background: url('eat3.jpeg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 24vw;
    height: 21vh;
    z-index: -1;
    border-radius: 40px;
}
#top3{
    text-align: center;
    color: red;
    font-family: 'Ubuntu Mono', monospace;
}
#container4{
    display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   margin-left: 30px;
   margin-top: 50px;
   margin-bottom: 50px;
   grid-template-areas: 
   '#row4' '#row5' '#row6'
   ;
}
#row4{
    width: 29vw;
    height: 360px;
    border: 2px solid black;
    background: url('eat3.jpeg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 15px;
  
    grid-area: #row4;
}
#row5{
    width: 29vw;
    height: 360px;
    border: 2px solid black;
    background: url('eat1.jpeg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 15px;
   
    grid-area: #row5;
}
#row6{
    width: 29vw;
    height: 360px;
    border: 2px solid black;
    background: url('eat2.jpeg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 15px;
   
    grid-area:#row6;
}




/*Designing the footer*/
footer{
    text-align: center;
}
/*Designing of contact us*/
#ContactUs{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
}
.form-shape input, .form-shape select, .form-shape textarea{
    width: 92%;
    padding: 0.5rem;
}
/*changing the color of placeholder*/
::placeholder{
    color: gray;
}

@media only screen and (max-width : 550px) {
    body{
        background-color: blue;
    }
    #container4{
        display: block;
      
    }
    #row4{
        width: auto;
        margin-bottom: 20px;
    }
    #row5{
        width: auto;
        margin-bottom: 20px;
    }
    #row6{
      
        width: auto;
    }
}

